* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

body {
    background-color: rgb(223, 235, 231);
}

.messenger {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    max-width: 70%;
    min-width: 700px;
    margin: 50px auto;
    row-gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 30px;
    justify-content: space-around;
}

.element {
    min-height: 64px;
}

.user-right, .user-left {
    display: flex;
    justify-content: flex-end;
}

.user-left {
    grid-column: 1;
}

.user-left>.name-date {
    font-size: small;
    text-align: right; 
}

.messages-2, .messages-1 {
    grid-column: 2; 
    padding: 20px; 
}

.messages-1 {
    background-color: rgb(102, 168, 211);
    border-radius: 20px 20px 20px 0; 
}

.messages-2 {
    background-color: rgb(229, 157, 208);
    border-radius: 20px 20px 0 20px; 
}

.user-right {
    flex-direction: row-reverse;
    grid-column: 3;
}

.user-right > .name-date {


    font-size: small;
    text-align: left;
}

img {
    padding: 20px;
}